.clangtidy
compile_commands.json
test.csv
.DS_Store
.backup/
.cache/
.vscode/
build/
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
classify_compounds
classify_compounds_pka_group.cpp
classify_compounds.cpp
classify_coumpounds_functionnal_groups.cpp
splits_acids.csv
splits_all_processed.csv
splits_neutral.csv
splits_zwitterions.csv
splits_bases.csv
splitter
splitter.cpp
test.py
code.txt
compile_commands.json
pka_bases/
pka_acids/
.cache/
build/
models/

